<div class="px-2 my-auto">
    <div class="row m-auto">
        <div class="col my-auto align-middle">
            <h2 class="my-auto">Hi, {{this.name}}</h2>
        </div>
        <div class="col ml-auto text-right align-middle"><button class="btn btn-sm text-right btn-close" mat-dialog-close style="height: 20px; width: 20px; border: 1px solid black"></button></div>
    </div>
</div>
<mat-dialog-content class="mat-typography" style="z-index: 15;">
    <h3>I'm happy to take this opportunity to introduse myself to you!</h3>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Name:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Mihir Joshi</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">City:</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Vadodara, Gujarat</label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Social</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;"><a href="https://linkedin.com/in/mj1605">linkedin.com/in/mj1605</a></label>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control" for="" style="margin-bottom: 15px;">Current Job</label>
        </div>
        <div class="form-group col-md-8">
            <label class="form-control" for="" style="margin-bottom: 15px;">Collabera Digital</label>
        </div>
    </div>
    <button class="btn btn-danger" mat-dialog-close>Close</button>
</mat-dialog-content>