<div class="px-2 my-auto">
    <div class="row m-auto">
        <div class="col my-auto align-middle">
            <h2 class="my-auto">Hello</h2>
        </div>
        <div class="col ml-auto text-right align-middle"><button class="btn btn-sm text-right btn-close" mat-dialog-close style="height: 20px; width: 20px; border: 1px solid black"></button></div>
    </div>
</div>

<mat-dialog-content class="mat-typography" style="z-index: 15;">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="form-control" for="" style="margin-bottom: 15px;">Name</label>
            <input type="text" class="form-control" placeholder="" name="usersname" #usersname= "ngModel" autocomplete="off" [(ngModel)]="this.name"/>
            <button class="btn btn-danger" (click)="setSetionName()" mat-dialog-close>Submit</button>
        </div>
    </div>
</mat-dialog-content>
