<nav class="navbar navbar-black bg-black">
    <!-- <a class="navbar-brand" href="#">
      <img src="assets/689181.png" width="100" height="80" alt="" style="margin-top: 1px;"/>
    </a> -->
    <p>Hi {{userFirstName}}, Welcome</p>
  </nav>

  <div class="sidebar">
    <button class="btn btn-secondary btnside" (click)="goHome()">Home</button>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btnside" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Components
        </button>
        <div class="dropdown-menu drpdwn" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item drpitem" href="about">About</a>
          <a class="dropdown-item drpitem" href="skills">Skills</a>
          <a class="dropdown-item drpitem" href="education">Education</a>
          <a class="dropdown-item  drpitem" href="experience">Experience</a>
        </div>
      </div>
</div>

<!-- for small resolution -->

