::ng-deep ::-webkit-scrollbar{
    display: none;
    
  }
  
  .content{
      margin-left: 250px;
      margin-top: 20px;
      scrollbar-width: 0.5px;
  }
    
  .btn{
      margin: 15px;
  }

  .border{
      margin: 20px;
      padding: 1px 16px;
      margin-bottom: 20px;
      box-shadow: 1px 1px 15px 1px rgb(192, 191, 191);
      border-radius: 10px;
      caret-color: transparent;
      z-index: 0;
  }
  
  
  @media screen and (max-width: 940px) {
      .content{
          margin-top: 50px;
          margin-left: 0;
        width: 100%;
      }

        .border{
          width: 100%;
        }

        .btn{
            width: 120px;
        }
         .modal-header{
          width: 100%;   
      }
  
      .modal.show .modal-dialog {
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top:50%;
      }
      
      .modal-content{
          width: auto;
          height: 50%;
      }
      
      .modal-footer{
          height: 70px;
      }
      }
  
      @media screen and (max-width: 800px) {
        br{
          display: none;
        }
          div.content{
              margin-top: 50px;
              margin-left: 0;
            width: 100%;
          }
          .border img{
            width: 50%;
          }
          div.content hr{
              display: none;
          }
            .border{
              width: auto;
            }
            .btn{
              width: 40%;
            }
          }
  
          .modal-header{
              height: 50px; 
              width: 900px;   
          }
          
          .modal.show .modal-dialog {
              transform: translate(-40%, 0%);
              scrollbar-width: none;
          }
          
          .modal-content{
              width: auto;
              }
          
          .modal-footer{
              height: 70px;
          }
          
  
          .form-control label{
              font-size: small;
          }
  
          @media screen and (max-width: 500px) {
              div.content{
                  margin-top: 100px;
              }
              .border{
                width: 100%;
                margin: 5px;
                padding: 0;
              }

              .border img{
                width: 50%;
              }

          }
  

          .innerborder{
            width: auto;
            height: 500px;
            background-color: black;
            margin: 15px;
          }

          a:hover{
            cursor: pointer;
          }