<app-head></app-head>
<br><br><br><br><br>
<div class="content">
    <div class="border">
        <div class="form-row">
                <button class="btn btn-danger col-md-2" (click)="openAboutMe()">About Me</button>
                <button class="btn btn-danger col-md-2" (click)="openSkills()">Skills</button>
                <button class="btn btn-danger col-md-2" (click)="openEducation()">Education</button>
                <button class="btn btn-danger col-md-2" (click)="openExperience()">Experience</button>
            </div>
        </div>
        <div class="border" style="padding: 0;">
            <div class="form-row" style="padding: 15px;">
                <img src="./assets/Media.jpg" alt="" class="form-control col-md-2" >
                <div class="details col-md-8">
                    <h1 style="font-size:80px; margin-top: 15px; margin-left: 10px; font-weight: 300;" ><b>Hi!</b></h1>
                    <br>
                    <p style="margin: 10px;">My name is Mihir Joshi, I'm frontend developer based in Gujarat, India. I enjoy building everything from small business to rich interactive web apps. If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me <a (click)="openContact()" style="color: blueviolet;"><b>here</b></a>.</p>                    
                        <br>
                    <p style="margin: 10px;">In this web, i've mentioned few skills which i know or i worked on in recent activities, but my work search is not limitted upto mentioned items. I'm so much aspired to learn and experiment new skills. As of now my focused area is frontend development but i would love to work on backend or fullstack approaches.</p>
                </div>
        </div>
</div>