<app-head></app-head>
<br><br><br><br><br>
<div class="content">
    <div class="border">
        <div class="form-row">
                <button class="btn btn-danger col-md-2" (click)="openAboutMe()">About Me</button>
                <button class="btn btn-danger col-md-2" (click)="openSkills()">Skills</button>
                <button class="btn btn-danger col-md-2" (click)="openEducation()">Education</button>
                <button class="btn btn-danger col-md-2" (click)="openExperience()">Experience</button>
        </div>
    </div>
</div>